@font-face{font-family:'Oxygen';font-style:normal;font-weight:300;src:local('Oxygen Light'),local('Oxygen-Light'),url(https://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')}@font-face{font-family:'Oxygen';font-style:normal;font-weight:700;src:local('Oxygen Bold'),local('Oxygen-Bold'),url(https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')}
@font-face{font-family:'Lora';font-style:normal;font-weight:400;src:local('Lora'),local('Lora-Regular'),url(http://themes.googleusercontent.com/static/fonts/lora/v7/nAKwuw6_dIh5kwvpj3ShNfesZW2xOQ-xsNqO47m55DA.woff) format('woff')}@font-face{font-family:'Lora';font-style:normal;font-weight:700;src:local('Lora Bold'),local('Lora-Bold'),url(http://themes.googleusercontent.com/static/fonts/lora/v7/-riKkMjQB-Tz3xXCw54paQLUuEpTyoUstqEm5AMlJo4.woff) format('woff')}@font-face{font-family:'Lora';font-style:italic;font-weight:400;src:local('Lora Italic'),local('Lora-Italic'),url(http://themes.googleusercontent.com/static/fonts/lora/v7/9imnXKme9i4It2hFQOvfvevvDin1pK8aKteLpeZ5c0A.woff) format('woff')}

* {
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
}
html {
	/*background : rgba(0, 0, 0, 0.05);*/
	height : auto;
	min-height : 100%;
	/*border-left : 5px solid #111;*/
	color : #666;
	font : normal 100%/1.5 'Oxygen', Arial, sans-serif;
}
body {
	height : 100%;
}

h1, h2, h3 {
	margin-bottom : 1rem;
	font-weight : normal;
	line-height : 1.2;
}
p {
	margin-bottom : 1rem;
	font-family : 'Lora', Georgia, serif;
}
hr {
	height : 1rem;
}
a {
	font-weight : bold;
}
a:link {
	color : #278EB0;
}
a:visited {
	color : #094B61;
}
a:active {
	opacity : .65;
}
h1, h2, h3, strong {
	color : #02212B;
}

hr {
	height : 1px;
	background : rgba(0, 0, 0, 0.075);
	margin : 4rem 0;
}

header {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 3;
	/*height : 100%;*/
	width : 100%;
	background : white;
	/*background : rgba(0, 0, 0, 0.05);*/
	/*background: -webkit-linear-gradient(left, white 0%,rgba(0, 0, 0, 0.05) 100%);*/
	/*padding : 2rem;*/
	box-shadow : 0 1px 0 rgba(0, 0, 0, 0.125);
	text-align : center;
}
header > a {
	display : block;
	/*float : left;*/
	position : relative;
	z-index : 1;
	max-width : 3rem;
	/*margin-right : 3rem;*/
	/*border-radius : 3px;*/
}
/*header > a:after {
	display : block;
	position : absolute;
	top : .25rem;
	right : -.25rem;
	z-index : 0;
	height : 3rem;
	width : 100%;
	background : #ddd;
	border-radius : 4px;
	content : "";
}*/
header img {
	display : block;
	position : relative;
	z-index : 1;
	height : 30px;
	max-width : 100%;
	/*border-radius : 3px;
	box-shadow : 0 0 0 2px white;*/
}
header > a:active img {
	top : .125rem;
	right : -.125rem;
}
header div {
    max-width : 50rem;
	margin : auto;
}
nav {
	float : right;
}
nav a {
	display : inline-block;
	/*margin : 0 -3rem;*/
	float : left;
	width : auto;
	/*max-width : 6rem;*/
	background : white;
	margin : 0;
	padding : 1rem;
	/*border-bottom : 1px solid #ddd;*/
	border-left : 1px solid #ddd;
	text-decoration : none;
	text-transform : lowercase;
}
/*nav a:nth-child(2) {
	border-left : 1px solid #ddd;
}*/
nav a:active {
	background : rgba(0, 0, 0, 0.025);
}
header span {
	display : inline-block;
	float : left;
	/*width : 50%;*/
	background : white;
	padding : 1rem;
	/*position : absolute;
	bottom : 0;
	left : 0;
	width : 100%;
	padding-bottom : 1rem;
	color : #ccc;*/
	text-align : left;
}

#intro, #main > div {
	max-width : 35rem;
	/*margin : 10rem auto 3rem;*/
	margin : auto;
	/*padding : 4rem 1.5rem;*/
	padding : 0 30px;
	/*border-top : 1px solid rgba(0, 0, 0, 0.075);*/
}
#intro {
	margin-bottom : 3rem;
}
#intro h3 {
	color : #ccc;
	font-size : 13px;
	text-align : right;
	text-transform : lowercase;
}
#intro img {
	display : block;
	height : 44px;
	margin : auto 0 1rem;
	padding : 6px;
	border : 1px solid #ddd;
	border-radius : 3px;
}

#main {
	/*display : none;*/
	padding-top : 4rem;
}
#main > div {
	position : relative;
	/*border-top : 1px solid rgba(0, 0, 0, 0.075);*/
}
#main > div:first-child {
	border-top : 0;
}
/*#main > div:first-child:before, #main > div:first-child:after {
	display : block;
	position : absolute;
	top : -.5rem;
	left : 0;
	z-index : 2;
	height : 1rem;
	width : 100%;
	background : url(../img/arrow-down.svg) no-repeat center;
	background-size : 22px;
	content : "";
	text-align : center;
}
#main > div:first-child:after {
	top : -1rem;
	z-index : 1;
	height : 2rem;
	width : 2rem;
	background : white;
	margin-left : calc( (100% - 2rem) / 2 );
	border-radius : 100%;
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.075);
	content : "";
}*/
/*#main > div:first-child:after {
	box-shadow : 0 0 0 1px #ddd;
}*/
#main > div div:first-child {
	max-width : 30rem;
	margin : auto;
}
/*#main > div, #main > article {
	max-width : 32.5rem;
	background : white;
	margin : 3rem;
	padding : 2rem;
}
#main > div h1 {
	margin : -2rem -2rem 2rem;
	padding : 3rem 2rem 1rem;
	border-bottom : 1px solid #ddd;
	font-weight : bold;
}*/
#main > div p {
	margin-bottom : 0;
}
#main > div p + p {
	margin-top : 2rem;
}
#main > div p a {
	display : inline-block;
	background : #278EB0;
	padding : .75rem 1.25rem;
	border-radius : 3px;
	color : white;
	font-family : 'Oxygen', Arial, sans-serif;
	text-decoration : none;
}
#main > div p a:active {
	background : #094B61;
	opacity : 1;
}
#main h1 a {
	text-decoration : none;
}
#main h1:before {
	display : block;
	margin-bottom : .5rem;
	/*padding-left : .5rem;*/
	/*border-left : 2px solid #ddd;*/
	content : "A project";
	color : #999;
	font-size : 13px;
	font-weight : bold; 
	letter-spacing : 1px;
	line-height : 1;
	text-transform : uppercase;
}
#main .writing:before {
	content : "A musing";
}

#portfolio {
	background : #278EB0;
	/*background : #278EB0;*/
	/*background : -webkit-linear-gradient(45deg, #278eb0 0%,#61caed 50%,#0fbdf7 100%);*/
	padding : 7rem 3rem 4rem;
	text-align : center;
	/*text-shadow : 0 1px 1px #87C496;*/
}
#portfolio h1 {
	margin-bottom : 2.5rem;
	padding : 0 1rem;
	color : white;
}
#portfolio figure {
	display : inline-block;
	position : relative;
	max-width : 300px;
	background : white;
	margin : 0 2rem 2rem;
	padding : 50px 15px 65px;
	border-radius : 17px;
	box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.075);
}
#portfolio figure:before, #portfolio figure:after {
	position : absolute;
	top : 1.45rem;
	left : 0;
	height : .65rem;
	width : 3rem;
	background : rgba(0, 0, 0, 0.1);
	margin-left : calc(50% - 3rem / 2);
	box-shadow : 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	content : "";
}
#portfolio figure:after {
	top : 100%;
	height : 2.5rem;
	width : 2.5rem;
	margin-top : -3.25rem;
	margin-left : calc(50% - 2.5rem / 2);
	border-radius : 100%;
}
#portfolio img {
	display : block;
	max-width : 100%;
	border : 2px solid rgba(0, 0, 0, 0.125);
	/*border-radius : 2px;*/
	/*overflow : hidden;*/
}
#portfolio h2 {
	/*position : absolute;
	bottom : 66px;
	left : 0;
	height : 400px;
	width : calc(100% - 30px);
	background : rgba(0, 0, 0, 0.75);
	margin : 0 0 0 15px;
	padding : 10rem 1rem 1rem;
	color : white;
	visibility : hidden;*/
	position : absolute;
	top : 100%;
	left : 0;
	width : 100%;
	margin : 1rem 0 0;
	color : white;
	font-size : 1.25rem;
	font-weight : bold;
}
#portfolio figure:hover h1 {
	/*visibility : visible;*/
}

@media screen and (max-width : 374px) {

	nav a:last-child {
		display : none;
	}
	/*#intro {
		padding-left : 2rem;
		padding-right : 2rem;
	}
	#main > div {
		padding-left : 2rem;
		padding-right : 2rem;
	}*/
	h1 {
		font-size : 23px;
	}

}

@media screen and (max-width : 549px) {

	#portfolio {
		padding : 6rem 0rem 4rem;
	}

	#portfolio figure:nth-child(n+3) {
		margin-top : 3rem;
	}

}

@media screen and ( min-width : 550px ) and ( min-height : 700px ){

	/*#intro {
		margin-top : 15rem;
		padding : 0;
	}*/

}

/*@media screen and (min-width : 600px) {

	#main > div div:first-child {
		padding : 0 1.5rem;
	}

}

@media screen and (min-width : 768px) {

	#main > div div:first-child, #intro {
		padding : 0;
	}

}*/

@media screen and (min-width : 50rem) {

	nav a:last-child {
		border-right : 1px solid #ddd;
	}

}